hostname {{ name }}
!
ipv6 unicast-routing
ipv6 cef
!
interface Loopback0
 no ip address
 ipv6 address {{ loopback_ip }}
 ipv6 rip RIPNG enable
!
{% for iface in interfaces %}
interface {{ iface.name }}
 no ip address
 ipv6 nd dad attempts 0
 ipv6 address {{ iface.ip }}/{{ iface.prefix }}
 ipv6 rip RIPNG enable
 no shutdown
!
{% endfor %}